.body{
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(https://images.unsplash.com/photo-1633330934870-2f5fa2b3f9f2?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE5NHxibzhqUUtUYUUwWXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    height: 95vh;
    padding: 5rem;
    margin: .2rem;
    background-size: cover;
    background-position: center;
}

.names{
    flex: 7;
    border: none;
    background-color: solid black;

} 
.akan{
    color: pink;
}
.flex{
    display:flex;
    height: 40vh;
    align-items: center;
    gap: .5rem;
}
.column{
    flex: 5;
    float: right;
    padding: 1.5rem;
    margin: .1rem;
    border: 1px grey;
    background-color: solid black;
    flex-direction: column;

}

h1{
    font-style: bold;
    color:ivory;
}
.naming{
    color: orchid;
}
.namingfemales{
    color:blue;
}
.form > div > button{
    background-color: greenyellow;
    border-radius: 6rem;
    width: 40%;
}
.form > div > input{
    background-color: lawngreen;
    border-radius: 5rem;
}
